@import '../node_modules/bootstrap/scss/bootstrap.scss';

//variables
$secondary: #f0f0f0;
$primary: #422083;


//login build
html, body {
    height: 100%;
    background-color: $secondary;
}

.form-login {
    width: 100%; 
    max-width: 330px;
    padding: 15px;
    margin: auto;
}



//grid system
.container {
    img {
        height: 500px;
    }
}


.carousel {
    width:358.97px;
    height:500px;
  }
